<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dietlogin">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DietLogin">
        <activity
            android:name=".login"
            android:exported="false" />
        <activity
            android:name=".item_3"
            android:exported="false" />
        <activity
            android:name=".item_2"
            android:exported="false" />
        <activity
            android:name=".item_1"
            android:exported="false" />
        <activity
            android:name=".calorie"
            android:exported="false" />
        <activity
            android:name=".bmiactivity"
            android:exported="false" />
        <activity
            android:name=".bmii"
            android:exported="false" />
        <activity
            android:name=".navBar"
            android:exported="false" />
        <activity
            android:name=".dashboard"
            android:exported="false" />
        <activity
            android:name=".SignUp"
            android:exported="false" />
        <activity
            android:name=".splashscreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>